<div class='form-box'>
	<div class='row'>
		<div class='col-sm-12'>
			<h2>Add a New Course</h2>
			 <%= simple_form_for @course, :url => instructor_courses_path do |f| %>
			    <p><%= f.input :title %></p>
			    <p><%= f.input :description %></p>
			    <p><%= f.input :image %></p>
			    <p><%= f.input :cost %></p>
		
			   <p> <%= f.submit "Create", :class => 'btn btn-primary' %></p>
			  
			  <% end %>
			</div>
	</div>

</div>