<script>
  $(function() {

    $('.lessons').sortable({
      update: function(event,ui){ 
      $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
        //alert("Item id: " + ui.item.data('item-id') + "Index: " + ui.item.index());
      }
    });

    $('.sections').sortable({
      update: function(event,ui){ 
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        });
      }
    });

  })
</script>
<div class ='form-box'>
<div class= 'row'>  
<!--   <div > -->
    <h1 class="text-center">Instructor Admin View</h1>
<h2>&para;<%= current_course.title%></h2>  
 
    <p><%= link_to 'Add a new section...', new_instructor_course_section_path(current_course), :class => 'btn' %>&nbsp;&nbsp;&nbsp;
  <%= link_to 'Preview As Student...', course_path(current_course), :class => 'btn' %></p>

  <div class="col-xs-12">
    <ul class="sections list-unstyled">
    <% current_course.sections.rank(:row_order).each do |section| %> 
           
      <li data-update-url="<%= instructor_section_path(section) %>" class="section text-center">
        
        
         <h3><span class='glyphicon glyphicon-sort'></span>&nbsp;&nbsp;&nbsp;&sect;<%= section.title %>: &nbsp;&nbsp;&nbsp;<%= link_to ' Add New Lesson', new_instructor_section_lesson_path(section) %>  </h3> 

        <ul class="lessons list-unstyled">
           <% section.lessons.rank(:row_order).each do |lesson| %>
       
             <li  data-update-url="<%= instructor_lesson_path(lesson) %>"  class="lesson text-center">
              
               <h4><span class='glyphicon glyphicon-sort'></span>&nbsp;&nbsp;&nbsp;&sect;<%= lesson.title %></h4>
               <em><%= lesson.subtitle %></em>
             </li>
        
           <% end %>
         </ul>

      </li>
      
     <% end %> 
     </ul>
   </div>

 <!--  </div> -->
</div>


</div> 
